<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-dark bg-primary text-white flex-md-nowrap p-0 mb-5 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="fa fa-chess-board"></i> Hi-Low</a>

  <div class="d-flex flex-fill">
    <ul class="nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link text-white" routerLink="['/start']"><i class="fas fa-plus"></i> New Game</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
  <router-outlet></router-outlet>
</main>
<nav class="navbar navbar-expand bg-secondary fixed-bottom text-white navbar-light">&copy; 2019 KMS</nav>
