<div class="row justify-content-center mt-5">
  <div class="col-sm-4">
    <form class="form" [formGroup]="playerForm" novalidate>
      <div class="form-group">
        <input formControlName="playerName" class="form-control-lg" type="text" placeholder="Enter Your Name"
          required />
        <div
          *ngIf="playerForm.controls['playerName'].invalid && (playerForm.controls['playerName'].dirty || playerForm.controls['playerName'].touched)"
          class="text-danger">
          Name is required and must be 3 charaters
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="playerForm.pristine || !playerForm.valid" class="btn btn-success btn-lg"
          (click)="startGame()">Start</button>
      </div>
    </form>
  </div>
</div>
